
.header-top {
	background-color: #376dc3;
	padding-top: 15px;
}
 
.logo ul li {
	display: inline;
	margin-left: 5px;
	background-color:#316DC3;
	
}

.logo i {
	height: 20px;
	margin-left: 5px;
	padding-top: 5px;
}

.logo img {
	height: 20px;
	margin-left: 5px;
}

.logo1 span {
	color: white;
	font-size: 15px;
}

.logo3 a {
	font-size: 11px;
}
 
.navbar a img {

	width: 193px;
	height: 53px;

}

.navbar-nav a:link {
	text-decoration: none;
}

.navbar-nav a{
	color: black;
}

.navbar-nav > li.active > a, 
.navbar-nav > li:hover > a { 
	background: #5D9CEC; 
	color: #fff;

}

.navbar-nav > li{
	padding: 18px 0;
}
.navbar-nav > li > a{
	padding: 8px 16px;
	border-radius: 30px;
}

.news {
	background-color: #376dc3;
	margin-top: 10px;
	margin-bottom: 10px;
}

.news span {
	color: green;
	padding: 0 2px 0 2px;
}

.news a:link {
	text-decoration: none;
	padding: 0 2px 0 2px;
}

.news a {
	color: blue;
	padding: 0 2px 0 2px;
}

.news p {
	color: white;
	margin-bottom: -3px;
	padding: 0 2px 0 2px;
}

#intro {
	background-color: #f7f8fa;
}

.news1 h2 {
	margin-top: 80px;
	color: #376dc3;
	font-family: 'Open Sans', sans-serif;
}

.news1 span {
	color: #427901;
}

.title-icon {
	text-align: center;
}

.title-icon img {
	height: 40px;
	margin: 0 auto;
    max-width: 160px;
    position: relative;
}

.news2 {
	line-height: 1.9;
	padding-bottom: 100px;
}

.news2 p{
	text-align: justify;

}

.content {
	margin-top: 20px;
}

.content img {
	margin-top: 20px;
	margin-bottom: 30px;
}

.content h4 {
	padding-bottom: 40px;
	color: #376dc3;
}


.content .box-shadow11 {
	box-shadow: 5px 5px 3px 1px #999;
}

.content1 {
	margin-top: 30px;
	padding-bottom: 40px;
}
.bottom  {
	position: relative;
    margin-bottom: 30px;
    padding-bottom: 10px;
    color: #316dc3 !important;
} 

.content2 {
	margin-top: 60px;

}

.content2 h3 {
	line-height: 30px;
	background-color: white;
}

.content2 hr {
	height: 5px; 
	width: 30px;
	background-color: #427900;
	position: relative;
	top:left;
}

.content2 .icon-box {
	background-color: #f7f8fa ;
	border: 1px;
	padding: 15px;
	margin-bottom: 20px;
}

.content2 h4 {
	padding-left: 20px;
	font-family: 'Merriweather', serif;
    font-weight: 600;
    line-height: 1.42857143;
    color: #316DC3;
}

.content3 h3 {

	line-height:50px;

}

.content3 p {
	margin-top: 40px;
}

#image {
	margin-top: 60px;
}

.pic {

	margin-top: 30px;
	margin-bottom: 10px;
}

.last {

	background-color: #25272e;
	padding: 30px 0px 30px 0px;
	color: white;
	margin-top: 40px;
	
}

.last1 {
	margin-top: 40px;
}

.last p {
	margin-top: 25px;
}

.last i {
	color: green;
}

.last1 i {
	float: left;
	margin-left: 15px;
}

.bottom {
	background-color: #396dda;
	padding: 30px 20px;

}

.bottom p {
	color: white;
}





